<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin nisi in sapien feugiat, vestibulum laoreet dui elementum. Phasellus vehicula diam eu maximus interdum.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-work fa-4x"></i>
                    <h3>Volunteer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin nisi in sapien feugiat, vestibulum laoreet dui elementum. Phasellus vehicula diam eu maximus interdum.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-donate fa-4x"></i>
                    <h3>Donate</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin nisi in sapien feugiat, vestibulum laoreet dui elementum. Phasellus vehicula diam eu maximus interdum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
